@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

.container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
}

.container-header img{
  width: 60%;
}

.container-header-svgs{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 20%;
}

.container-header-svgs img{
  width: 22px;
}